### Calcular el HSIG para cada palabra

In [1]:
import numpy as np
import pandas

In [51]:
df = pandas.DataFrame([[1,3],[5,2],[7,3],[7,4],[1,5],[1,6]], columns=["numerito1", "numerito2"])

In [52]:
df

   numerito1  numerito2
0          1          3
1          5          2
2          7          3
3          7          4
4          1          5
5          1          6

In [53]:
df=df.rank(method='dense',  ascending=False)

In [54]:
df

   numerito1  numerito2
0        3.0        4.0
1        2.0        5.0
2        1.0        4.0
3        1.0        3.0
4        3.0        2.0
5        3.0        1.0

In [55]:
(df["numerito1"]-df["numerito2"]).sum()

-6.0